openapi: 3.0.3
info:
    title: Swagger -  OpenAPI 3.0
    description: |-
    version: 1.0.11
servers:
    -   url: https://kamervankoophandel.nl/api/v3
paths:
    /company/{cin}:
        get:
            summary: Find company by ID
            description: Returns a single company
            operationId: getCompanyByCin
            parameters:
                -   name: cin
                    in: path
                    description: cin of company to return
                    required: true
                    schema:
                        type: string
            responses:
                '200':
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Company'
                '400':
                    description: Invalid cin supplied
                '404':
                    description: Company not found
components:
    schemas:
        Company:
            required:
                - cin
                - name
            type: object
            properties:
                cin:
                    type: string
                    maxLength: 8
                    minLength: 8
                    example: 12345678
                name:
                    type: string
                    example: Frituur Jos
                    maxLength: 100
                foundationDate:
                    type: string
                    format: date
                    description: date the company was founded
        ApiResponse:
            type: object
            properties:
                code:
                    type: string
                message:
                    type: string

