openapi: 3.0.3
info:
    title: Siebel Create Company
    description: |-
    version: 1.0.11
servers:
    -   url: https://crm.rabobank.nl/api/v3
paths:
    /company/{relationId}:
        get:
            summary: Find company by relationId
            description: Returns a single organisation
            operationId: getCompanyByRelationId
            parameters:
                -   name: relationId
                    in: path
                    description: relationId of company to return
                    required: true
                    schema:
                        type: string
            responses:
                '200':
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Company'
                '400':
                    description: Invalid ID supplied
                '404':
                    description: Company not found
    /company:
        post:
            summary: Create new company record
            operationId: createCompany
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/CreateCompany'
            responses:
                '200':
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Company'
                '400':
                    description: Invalid ID supplied
                '404':
                    description: Company not found
components:
    schemas:
        CreateCompany:
            required:
                - kvkNumber
                - name
            type: object
            properties:
                kvkNumber:
                    type: string
                    maxLength: 8
                    minLength: 8
                    example: 12345678
                name:
                    type: string
                    example: Frituur Jos
                    maxLength: 100
                parent:
                    type: string
                    maxLength: 12
                    minLength: 12
                    example: 123456789012
        Company:
            required:
                - relationId
                - kvkNumber
                - name
            type: object
            properties:
                relationId:
                    type: string
                    maxLength: 12
                    minLength: 12
                    example: 123456789012
                kvkNumber:
                    type: string
                    maxLength: 8
                    minLength: 8
                    example: 12345678
                name:
                    type: string
                    example: Frituur Jos
                    maxLength: 100
                director:
                    type: string
                    example: G. de Bruin
                    maxLength: 100
                daughters:
                    type: array
                    items:
                        $ref: '#/components/schemas/Company'
        ApiResponse:
            type: object
            properties:
                code:
                    type: string
                message:
                    type: string

