openapi: 3.0.3
info:
    title: Siebel Create Relation
    description: |-
    version: 1.0.11
servers:
    -   url: https://crm.rabobank.nl/api/v3
paths:
    /relation/{relationId}:
        get:
            summary: Find relation by relationId
            description: Returns a single organisation
            operationId: getRelationByRelationId
            parameters:
                -   name: relationId
                    in: path
                    description: relationId of relation to return
                    required: true
                    schema:
                        type: string
            responses:
                '200':
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Relation'
                '400':
                    description: Invalid ID supplied
                '404':
                    description: Relation not found
    /relation:
        post:
            summary: Create new relation record
            operationId: createRelation
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/CreateRelation'
            responses:
                '200':
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Relation'
                '400':
                    description: Invalid ID supplied
                '404':
                    description: Relation not found
components:
    schemas:
        CreateRelation:
            required:
                - cin
                - name
            type: object
            properties:
                cin:
                    type: string
                    maxLength: 8
                    minLength: 8
                    example: 12345678
                name:
                    type: string
                    example: Frituur Jos
                    maxLength: 100
        Relation:
            required:
                - relationId
                - cin
                - name
            type: object
            properties:
                relationId:
                    type: string
                    maxLength: 12
                    minLength: 12
                    example: 123456789012
                cin:
                    type: string
                    maxLength: 8
                    minLength: 8
                    example: 12345678
                name:
                    type: string
                    example: Frituur Jos
                    maxLength: 100
                status:
                    type: string
                    enum: [PROSPECT, CUSTOMER, INACTIVE]
                    example: G. de Bruin
                    maxLength: 100
        ApiResponse:
            type: object
            properties:
                code:
                    type: string
                message:
                    type: string

