openapi: 3.0.3
info:
    title: Swagger Petstore - OpenAPI 3.0
    description: |-
    version: 1.0.11
servers:
    -   url: https://kamervankoophandel.nl/api/v3
paths:
    /organisation/{kvkNumber}:
        get:
            summary: Find organisation by ID
            description: Returns a single organisation
            operationId: getOrganisationByKvkNumber
            parameters:
                -   name: kvkNumber
                    in: path
                    description: kvkNumber of organisation to return
                    required: true
                    schema:
                        type: string
            responses:
                '200':
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Organisation'
                '400':
                    description: Invalid kvkNumber supplied
                '404':
                    description: Organisation not found
components:
    schemas:
        Organisation:
            required:
                - kvkNumber
                - name
            type: object
            properties:
                kvkNumber:
                    type: string
                    maxLength: 8
                    minLength: 8
                    example: 12345678
                name:
                    type: string
                    example: Frituur Jos
                    maxLength: 100
                subsidiaries:
                    type: array
                    items:
                        $ref: '#/components/schemas/Organisation'
                foundationDate:
                    type: string
                    format: date
                    description: date the organisation was founded
        ApiResponse:
            type: object
            properties:
                code:
                    type: string
                message:
                    type: string

